/* .fixed-bottom {
    position: fixed;
   
} */


.carousel-control-prev-icon,
.carousel-control-next-icon {
    height:100px;
    width: 100px;

    background-color: rgba(0, 0, 0, 0.5);
    background-size: 100%, 100%;
    border-radius: 50%;
   
}

.carousel-control-next,
.carousel-control-prev

    {
    filter: invert(100%);
    
}

.product {
    box-shadow: hsl(0, 0, 80%) 0px 0px 10px 10px;
    background-color: white;
    border-radius: 5px;
    padding: 50px;
}

.space {
    padding: 5%;
    width: 100%;
    display: inline-block;
}

.thumbnails {
    padding: 5%;
    height: auto;
    width: 50%;
    box-shadow: black 0px 0px 10px 3px;
}

.carousel {
    padding-top: 5%;
}

.price {
    font-size: 20px;
    font-weight: bold;
    float: right;
}

.base {
    height: 70%;
    overflow-y: auto;
}

/*.c-img {
    background-position: center;
    background-size: cover;
    align-items: center;
}
*/

.carousel-item img {
    width: auto;
    height: auto;
    max-height: 350px;
    margin: auto;
    display: block;
    background-size: cover;
}

.cart-item {
    flex: 2;
}

.cart-item1 {
    flex: 1;
}

.hidden {
    display: none!important;
}